body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ========== */
header{
    background-image: url(img/headerbg.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    padding: 50px !important;
}
.logo{
    margin: 10px;
}
header .nav1{
    position: fixed;
    width: 100%;
    z-index: 999;
}
/* header .nav-div{
    display: flex;
    justify-content: space-around;
    background-color: #e5e5e5;
} */
/* .header-div1{
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
} */
.nav1{
    background-color: white !important;
}
.nav1 .container{
    padding: 0 !important;
}
.nav1 ul {
    list-style-type: none;
}
.nav1 ul li{
    display: inline-block;
    margin: 5px 20px;
} 
.nav1 ul li a{
    color: #652c87 !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s all !important;
}
.nav1 ul li a:hover{
    color: #fd6a07 !important;
}
.header-div1-div1{  
    width: 400px;
}
.imgheader{
    width: 100%;
    animation: zoomIn 1.5s 1 linear;
}
.header-p1{
    color: #e6e6e6;
    font-size: 60px;
    animation: fadeInLeft 1.5s 1 linear;
}
.header-p2{
    color: #e6e6e6;
    font-size: 20px;
    animation: fadeInLeft 1.5s 1 linear;
}
.header-button1{
    margin-top: 10px;
    padding: 15px 50px;
    text-align: center;
    line-height: 15px;
    color: #e6e6e6;
    font-size: 18px;
    font-weight: 700;
    background-color: #fd6a07;
    border: none;
    border-radius: 10px;
    transition: 0.3s all;
    animation: fadeInLeft 1.5s 1 linear;
}
.header-button1:hover{
    color: #652c87;
}
/* ====================================================== */
.section1{
    position: relative;
    top: -150px;
    /* height: 450px; */
}
.section1 ul li{
    list-style-type: none;
}
.sec1{
    display: flex;
    justify-content: center;
}
.sec1 ul li{
    line-height: 2.3;
}
.sec1-div1, .sec1-div3{
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 270px;
    background-color: #fd6a07;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec1-div1 a{
    margin: 15px;
    color: #e6e6e6;
    font-size: 16px;
    text-decoration: none;
}
.sec1-div3 a{
    margin: 15px;
    color: #e6e6e6;
    font-size: 16px;
    text-decoration: none;
}
.sec1-div2, .sec1-div4{
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 270px;
    height: 300px;
    background-color: #652c87;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec1-div2 a{
    margin: 15px;
    color: #e6e6e6;
    font-size: 16px;
    text-decoration: none;
}
.sec1-div4 a{
    margin: 15px;
    color: #e6e6e6;
    font-size: 16px;
    text-decoration: none;
}
.sec1-div1:hover{
    transform: translateY(-30px);
}
.sec1-div2:hover{
    transform: translateY(-30px);
}
.sec1-div3:hover{
    transform: translateY(-30px);
}
.sec1-div4:hover{
    transform: translateY(-30px);
}
.sec1-div1-p1{
    margin: 15px;
    color: #e6e6e6;
    font-size: 22px;
    font-weight: 700;
    animation: shakeY 1s 1 linear;
}
.sec1-div5{
    display: flex;
    justify-content: center;
}
.sec1-button1{
    margin: 100px auto;
    padding: 20px 50px;
    color: #652c87;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #652c87;
    border-radius: 15px;
    transition: 0.3s all;
}
.sec1-button1:hover{
    color: #e6e6e6;
    background-color: #652c87;
}
/* ======================================================= */
.section2{
    display: flex;
    justify-content: center;
    /* padding: 50px; */
    box-sizing: border-box;
    background-image: url(img/sec2bg.jpg);
    /* height: 650px; */
    background-size: cover;
    background-repeat: no-repeat;
}
.sec2-div1, .sec2-div3{
    margin: 140px 15px 15px 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 260px;
    height: 350px;
    background-color: #fd6a07;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec2-div2, .sec2-div4{
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 260px;
    height: 350px;
    background-color: #e6e6e6;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec2-div1:hover{
    transform: translateY(-30px);
}
.sec2-div2:hover{
    transform: translateY(-30px);
}
.sec2-div3:hover{
    transform: translateY(-30px);
}
.sec2-div4:hover{
    transform: translateY(-30px);
}

.sec2-div1-div, .sec2-div3-div{
    margin-left: 60px;
    width: 90px;
    /* height: 90px; */
    background-color: #e6e6e6;
    border-radius: 10px;
}
.sec2-div2-div, .sec2-div4-div{
    margin-left: 60px;
    width: 90px;
    /* height: 90px; */
    background-color: #fd6a07;
    border-radius: 10px;
}
.sec2-p1, .sec2-p3{
    text-align: center;
    margin: 15px;
    font-size: 18px;
    animation: shakeY 1s 1 linear;
}
.sec2-p1{
    color: #e6e6e6;
}
.sec2-p3{
    color: #2c2c2c;
}
.sec2-p2, .sec2-p4{
    text-align: center;
    margin: 15px;
    font-size: 17px;
    font-style: italic;
    line-height: 1.5;
}
.sec2-p2{
    color: #e6e6e6;
}
.sec2-p4{
    color: #666666;
}
.bx-broadcast, .bx-diamond{
    margin: 8px;
    color: #fd6a07;
    font-size: 70px;
}
.bxs-megaphone, .bx-user{
    margin: 8px;
    color: #ffffff;
    font-size: 70px;
}
/* ======================================================= */
.section3{
    position: relative;
    /* padding: 50px; */
    box-sizing: border-box;
    /* height: 1100px; */
    background-color: #e5e5e5;
}
.sec3-div1{
    position: absolute;
    right: 550px;
    width: 400px;
    height: 900px;
    background-color: #fd6a07;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sec3img{
    position: absolute;
    right: 470px;
    top: 150px;
    width: 900px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.sec3img:hover{
    transform: scale(1.1);
}

.sec3-div3{
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 250px;
    bottom: 100px;
    width: 450px;
    height: 320px;
    background-color: #652c87;
    border-radius: 30px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sec3-p1{
    margin: 10px;
    color: #e6e6e6;
    font-size: 18px;
    letter-spacing: 1px;
}
.sec3-p2{
    margin: 10px;
    color: #e6e6e6;
    font-size: 50px;
    font-weight: 500;
}
/* ======================================================= */
.section4{
    /* padding: 50px; */
    box-sizing: border-box;
    /* height: 850px; */
    background-color: #652c87;
}
.sec4-p1{
    margin: 20px;
    text-align: center;
    color: #e6e6e6;
    font-size: 50px;
    animation: shakeY 1s 1 linear;
}
.sec4-div1{
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec4-div1:hover{
    background-color: #e5e5e5;
}
.sec4img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
}
.sec4img:hover{
    transform: scale(1.1);
}
.sec4-p2{
    margin: 10px;
    color: #2c2c2c;
    font-size: 18px;
}
.sec4-p3{
    margin: 10px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 700;
}
.sec4-p4{
    margin: 25px 15px 15px 10px;
    color: #2c2c2c;
    font-size: 15px;
}
/* ======================================================= */
.section5{
    /* position: relative; */
    /* padding: 50px; */
    box-sizing: border-box;
    /* height: 1300px; */
    background-color: #652c87;
}
.sec5-div1{
    /* position: absolute;
    left: 380px; */
    width: 400px;
    height: 1150px;
    background-color: #fd6a07;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sec5-divv{
    position: relative;
    top: -820px;
}
@media only screen and (max-width: 1020px) {
    .sec5-div1{
        width: 300px;
        height: 500px;
    }
    .sec5-divv{
        top: -200px;
    }
}
@media only screen and (max-width: 990px) {
    .sec5img{
        left: 0;
    }
}
@media only screen and (max-width: 900px) {
    .sec5-div1{
        width: 300px;
        height: 440px;
    }
}
@media only screen and (max-width: 750px) {
    .sec5-divv{
        top: -120px;
    }
}
@media only screen and (max-width: 600px) {
    .sec5-div1{
        width: 280px;
        height: 300px;
    }
}
@media only screen and (max-width: 500px) {
    .hahaha{
        margin-top: 205px;
    }
}

.shatimanam{
    position: relative;
    /* left: -40%; */
}
.sec5img{
    position: absolute;
    left: -10%;
    top: 100px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.sec5img:hover{
    transform: scale(1.1);
}
.sec5-div3{
    position: relative;
    top: 220px;
    right: 0;
    width: 400px;
}
.sec5-p1{
    margin: 15px;
    color: #e6e6e6;
    font-size: 50px;
    animation: shakeY 1s 1 linear;
}
.sec5-p2{
    margin: 15px;
    color: #e6e6e6;
    font-size: 18px;
}
.sec5-button1{
    margin: 15px;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #e6e6e6;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    transition: 0.3s;
}
.sec5-button1:hover{
    color: #652c87;
    background-color: #e6e6e6;
}
/* .sec5-div4{
    position: absolute;
    left: 250px;
    bottom: 170px;
    display: flex;
    justify-content: center;
} */
.sec5-div4-div1, .sec5-div4-div2, .sec5-div4-div3{
    position: relative;
    top: 350px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 350px;
    /* height: 350px; */
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec5-div4-div1{
    background-color: #652c87;
    color: #e6e6e6;
}
.sec5-div4-div2{
    background-color: white;
    color: #2c2c2c;
}
.sec5-div4-div3{
    background-color: #fd6a07;
    color: #e6e6e6;
}
.sec5-p4{
    margin: 10px;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
}
.sec5-p5{
    margin: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
}
/* ======================================================= */
.section6{
    display: flex;
    justify-content: center;
    /* padding: 80px; */
    box-sizing: border-box;
    /* height: 700px; */
    background-color: #652c87;
}
.section6 .col-sm-8{
    padding: 10px !important;
}
.sec6-p1{
    color: #e6e6e6;
    font-size: 50px;
    animation: shakeY 1s 1 linear;
}
.sec6-p2{
    color: #e6e6e6;
    font-size: 20px;
}
.section6 .sec6-button1, .sec6-button2, .sec6-button3, .sec6-button4{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    color: #e6e6e6;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    background-color: #fd6a07;
    border: 2px solid #fd6a07;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
}
/* .sec6-button1{
    padding: 20px 650px 20px 20px;
    box-sizing: border-box;
}
.sec6-button2{
    padding: 20px 625px 20px 20px;
    box-sizing: border-box;
}
.sec6-button3{
    padding: 20px 590px 20px 20px;
    box-sizing: border-box;
}
.sec6-button4{
    padding: 20px 660px 20px 20px;
    box-sizing: border-box;
} */
.section6 button:hover{
    color: #fd6a07;
    background-color: #652c87;
}
/* ======================================================= */
.section7{
    padding: 50px;
    background-color: #e6e6e6;
}
.sec7-div1, .sec7-div2{
    margin: 10px;
    padding: 0 !important;
}
/* 
.sec7-div2{
    padding: 40px;
    box-sizing: border-box;
} */
/* .sec7-div2-div1, .sec7-div2-div2{
    display: flex;
    justify-content: center;
} */
.sec7-p1{
    margin: 30px 10px 50px 10px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 700;
}
.set7-input{
    /* display: block; */
    /* margin: 10px 10px 20px 10px !important; */
    margin-bottom: 20px;
    padding: 15px !important;
    font-size: 15px !important;
    background-color: rgb(216, 212, 212) !important;
    border: none !important;
    border-radius: 8px !important;
    outline: none !important;
}
.sec7-button{
    /* display: block; */
    /* margin: 10px 10px 20px 10px !important; */
    margin-bottom: 20px;
    width: 100%;
    padding: 15px !important;
    font-size: 18px !important;
    color: #e6e6e6 !important;
    font-weight: 700 !important;
    background-color: #fd6a07 !important;
    border: none !important;
    border-radius: 8px !important;
    transition: 0.3s all !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}
.sec7-button:hover{
    background-color: #652c87;
}
.sec7-div-img{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 10px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.sec7-div-img:hover{
    transform: translateY(-10px);
}
.section7 img{
    margin: 10px;
}
/* ========================================================*/
.section8{
    background-image: url(img/sec8bg.jpg);
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec8-p1{
    text-align: center;
    margin: 10px;
    color: #2c2c2c;
    font-size: 38px;
    animation: shakeY 1s 1 linear;
}
.sec8-p2{
    text-align: center;
    margin: 20px;
    color: #2c2c2c;
    font-size: 25px;
}
.sec8form{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    /* width: 550px; */
    /* height: 700px; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sec8lab1, .sec8lab2, .sec8lab3{
    display: block;
}
.section8 label{
    margin: 5px;
    font-size: 18px;
    color: #2c2c2c;
}
.sec8input3{
    margin: 10px;
}
.sec8input1, .sec8input2, .sec8tarea{
    margin: 10px;
    padding: 15px;
    width: 100%;
    font-size: 15px;
    background-color: rgb(216, 212, 212);
    border: none;
    border-radius: 8px;
    outline: none;
}
.sec8submit{
    margin: 10px 20px 10px 10px;
    width: 100%;
    padding: 15px;
    color: #e6e6e6;
    font-size: 23px;
    background-color: #652c87;
    border: none;
    border-radius: 10px;
    transition: 0.3s all;
}
.sec8submit:hover{
    background-color: #fd6a07;
}

/* ======================================================= */

.footer{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    /* height: 200px; */
    background-color: gray;
}
.footer-div1, .footer-div2{
    display: flex;
    justify-content: center;
}
.footer-p1{
    text-align: center;
    color: #e6e6e6;
    font-size: 15px;
}
.footer-p2{
    display: inline-block;
    color: #e6e6e6;
    font-size: 15px;
} 
.footer-a1,.footer-a2{
    margin: 15px;
    display: inline-block;
    color: rgb(23, 53, 116);
    font-size: 15px;
}
